[submodule "gem5/base"]
	path = gem5/base
	url = https://github.com/StanfordPLArchSec/protean-amulet.git
[submodule "gem5/protean"]
	path = gem5/protean
	url = https://github.com/StanfordPLArchSec/protean-amulet.git
[submodule "gem5/spt"]
	path = gem5/spt
	url = https://github.com/StanfordPLArchSec/protean-amulet.git
[submodule "gem5/stt"]
	path = gem5/stt
	url = https://github.com/StanfordPLArchSec/protean-amulet.git
